* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-size: 1em;
}

body {
  background-color: var(--primary-color);
  transition: var(--change-transition);
  font-family: Poppins;
  max-width: 1400px;
  margin: 0 auto;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --primary-color: #ffffff;
  --change-transition: 0.3s;
  --logo-color: #173a56;
  --text-color: #22343d;
  --accept-color: #02897a;
}

.btn {
  background: var(--accept-color);
  border: 1px solid var(--accept-color);
  color: var(--primary-color);
  font-weight: 700;
  border-radius: 4px;
  white-space: nowrap;
}

.btn:hover {
  transition: 0.3s;
  background: var(--primary-color);
  color: var(--logo-color);
  border: 1px solid var(--logo-color);
  border-radius: 4px;
}

.container {
  width: 79%;
  padding: 0 7px;
  margin: 0 auto;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.logo__link {
  display: flex;
}

.logo__image {
  margin-right: 16px;
}

.logo__text {
  font-size: 30px;
  font-weight: 700;
  color: var(--logo-color);
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu__navigation {
  margin-right: 24px;
}

.navigation__toggle {
  display: none;
}

.navigation__list {
  display: flex;
}

.navigation__link {
  color: var(--text-color);
  padding: 0 15px;
}

.navigation__link:hover {
  opacity: 0.75;
}

.navigation__item:first-child {
  transition: 0.1s;
  font-weight: 600;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__btn {
  padding: 9px 22px 7px 23px;
  margin-right: 24px;
  font-weight: 600;
}

.header__btn._active {
  color: var(--logo-color);
  background-color: var(--primary-color);
  border: 1px solid #bcd0e5;
}

.header__btn._active:hover {
  opacity: 0.75;
}

.header__theme {
  height: 32px;
  padding: 0;
  cursor: pointer;
}

.header__btn:last-child {
  padding: 0;
}

.header__btn:last-child {
  margin: 0;
}

.introduction {
  display: flex;
  margin-bottom: 110px;
}

.introduction__info {
  width: 47%;
  padding-left: 5px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.introduction__image {
  max-width: 100%;
}

.introduction__frame {
  width: 53%;
}

.introduction__title {
  font-size: 40px;
  margin-bottom: 18px;
}

.introduction__description {
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 60px;
  padding-right: 10%;
}

.introduction__buttons {
  display: flex;
  align-items: center;
}

.introduction__btn._watch {
  padding: 0;
}

.watch__link {
  display: flex;
  align-items: center;
  color: var(--accept-color);
  text-decoration: underline;
}

.watch__link:hover {
  opacity: 0.75;
}

.introduction__btn {
  padding: 13px 40px;
  margin-right: 30px;
}

.watch__image {
  margin-right: 9px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__feature {
  background: url("../img/background-down.png") no-repeat bottom;
  background-size: 100%;
  margin-bottom: 150px;
  padding-bottom: 90px;
}

.feature__title {
  padding: 0 26%;
  text-align: center;
  margin-bottom: 66px;
  color: var(--text-color);
}

.feature__btn {
  padding: 13px 32px 13px 33px;
}

.feature__content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.feature__card {
  width: 23%;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.card__image {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

.card__title {
  font-size: 22px;
  margin-bottom: 13px;
}

.title {
  font-size: 32px;
  margin-bottom: 23px;
}

.information__subtitle {
  margin-bottom: 12px;
}

.information__description {
  margin-bottom: 30px;
}

.subtitle:first-child {
  margin-bottom: 8px;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}

.information__frame {
  width: 50%;
}

.information__image {
  max-width: 100%;
}

.information__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.information__option {
  padding: 0 5%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.option__image {
  margin-right: 30px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  padding-top: 50px;
}

.main__reviews {
  background: url("../img/background-up.png") no-repeat top;
  background-size: 100%;
}

.reviews__text {
  text-align: center;
  font-weight: 500;
}

.comments {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  width: 100%;
}

.comments__items {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  align-items: center;
  position: relative;
}

.comment__image {
  max-width: 100%;
}

.comment__frame {
  width: 98px;
  padding: 16px;
}

.comment__text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  padding: 14px 20px;
  max-height: 53px;
  z-index: 2;
}

.comment__circle_big {
  width: 17px;
  height: 17px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 99px;
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 62%;
}

.comment__circle_small {
  width: 9px;
  height: 9px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 99px;
  position: absolute;
  z-index: 1;
  left: 37%;
  top: 80%;
}

.comment__circle_big_inverted {
  width: 17px;
  height: 17px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 99px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 62%;
}

.comment__circle_small_inverted {
  width: 9px;
  height: 9px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 99px;
  position: absolute;
  z-index: 1;
  left: 55%;
  top: 80%;
}

.reviews__btn {
  padding: 13px 30px;
}

.news {
  margin-bottom: 150px;
}

.news__text {
  margin-bottom: 33px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
}

.cards__info {
  display: flex;
  flex-direction: column;
  width: 32%;
  max-height: 348px;
  border: 1px lightgray solid;
  border-radius: 8px;
  cursor: pointer;
}

.cards__info:hover .info__title {
  color: var(--accept-color);
}

.cards__title._active {
  color: var(--accept-color);
}

.cards__image {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.cards__frame {
  margin-bottom: 24px;
}

.cards__title {
  margin-bottom: 30px;
}

.cards__description {
  margin-bottom: 12px;
}

.cards__text {
  padding-left: 24px;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dots__item {
  width: 16px;
  height: 16px;
  border-radius: 99px;
  background: #efefef;
  margin-right: 10px;
  cursor: pointer;
}

.dots__item._active {
  background: var(--accept-color);
}

.dots__item:hover {
  background: var(--accept-color);
}

.prices {
  margin-bottom: 100px;
}

.prices__text {
  text-align: center;
  margin-bottom: 50px;
}

.prices__packages {
  display: flex;
  justify-content: space-between;
}

.package {
  width: 27%;
  padding: 20px 0;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: default;
}

.package__title,
.package__description {
  display: flex;
  align-items: center;
}

.package__title {
  height: 64px;
  margin-bottom: 8px;
}

.package__description {
  height: 40px;
  margin-bottom: 16px;
}

.package__price {
  height: 100px;
  margin-bottom: 16px;
}

.package__option {
  height: 22px;
  margin-bottom: 16px;
}

.package__option:last-child {
  margin-bottom: 38px;
}

.package:hover {
  background: var(--accept-color);
  color: #ffffff;
  transition: var(--change-transition);
}

.package:hover .price__number,
.package:hover .price__dollar {
  color: #ffffff;
  transition: var(--change-transition);
}

.package:hover .package__btn {
  background: #ffffff;
  transition: var(--change-transition);
  color: var(--accept-color);
}

.price {
  display: flex;
  align-items: center;
}

.price__number {
  font-size: 76px;
  color: var(--accept-color);
  font-weight: 700;
  margin-right: 8px;
}

.price__month {
  text-align: left;
}

.price__dollar {
  font-size: 24px;
  color: var(--accept-color);
  font-weight: 700;
}

.price__period {
  color: #afafaf;
  font-weight: 400;
}

.package__btn {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  padding: 11px 19px 11px 18px;
}

.contact__form {
  margin: 0 auto;
  max-width: 868px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 110px;
}

.contact__title {
  margin-bottom: 45px;
}

.contact__input,
.contact__area {
  margin-bottom: 45px;
}

.contact__input {
  font-family: Roboto;
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 19px 20px;
  font-size: 15px;
  font-weight: 400;
}

.contact__input::-webkit-input-placeholder,
.contact__area::-webkit-input-placeholder {
  color: black;
}

.contact__area {
  width: 100%;
  min-height: 193px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 19px 20px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
}

.contact__btn {
  font-family: Roboto;
  font-weight: 500;
  border: none;
  max-width: 145px;
  min-height: 52px;
  background: var(--accept-color);
  border-radius: 35px;
  color: white;
}

.contact__btn:hover {
  opacity: 0.75;
}

.footer__logo .logo__image {
  width: 32px;
}

.footer__logo .logo__text {
  font-size: 24px;
}

.footer__logo {
  margin-bottom: 20px;
}

.social {
  max-height: 40px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.footer__subitems {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__form {
  max-width: 325px;
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-size: 20px;
  font-weight: 500;
}

.footer__link {
  color: var(--text-color);
  line-height: 35px;
}

.footer__link:hover {
  opacity: 0.75;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social__link:hover {
  opacity: 0.75;
}

.footer__form .footer__title {
  margin-bottom: 34px;
}

.footer__field {
  min-height: 48px;
  margin-bottom: 21px;
  border: 1px solid #bcd0e5;
  box-sizing: border-box;
  border-radius: 4px;
}

.footer__btn {
  max-width: 131px;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 0;
}

.footer__description {
  text-align: center;
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .container {
    width: 95%;
  }
  .description {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .navigation__link {
    padding: 0 6px;
  }
  .menu__navigation {
    margin-right: 6px;
  }
  .header__btn {
    padding: 7px 18px 5px 18px;
    margin-right: 8px;
    font-weight: 600;
  }
  .header__theme {
    width: 24px;
  }
  .introduction {
    margin-bottom: 60px;
  }
  .introduction__info {
    padding-left: 5px;
    margin-top: 60px;
  }
  .introduction__description {
    padding: 0;
    margin-bottom: 20px;
  }
  .introduction__btn {
    margin-right: 10px;
  }
  .introduction__title {
    font-size: 32px;
  }
  .introduction__text {
    font-size: 16px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .feature__content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .feature__card {
    align-items: center;
    text-align: center;
    width: 35%;
    margin-bottom: 15px;
  }
  .information__subtitle {
    font-size: 15px;
  }
  .information {
    margin-bottom: 75px;
  }
  .information__text {
    width: 90%;
  }
  .information__frame {
    width: 90%;
  }
  .information__title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .option__image {
    margin-right: 15px;
  }
  .information__option {
    font-size: 15px;
  }
  .reviews {
    padding-top: 50px;
    margin-bottom: 75px;
  }
  .reviews__text {
    font-size: 15px;
  }
  .comment__frame {
    max-width: 90px;
  }
  .comment__text {
    font-size: 15px;
    padding: 10px 12px;
  }
  .news {
    margin-bottom: 75px;
  }
  .news__title {
    font-size: 24px;
  }
  .news__text {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .cards {
    margin-bottom: 32px;
  }
  .cards__info {
    width: 32%;
  }
  .cards__text {
    padding-left: 12px;
  }
  .cards__title {
    font-size: 18px;
  }
  .cards__description {
    font-size: 15px;
  }
  .cards__frame {
    margin-bottom: 5px;
  }
  .prices__description {
    font-size: 15px;
  }
  .prices__text {
    margin-bottom: 25px;
  }
  .prices__packages {
    justify-content: space-around;
  }
  .package {
    min-width: 240px;
  }
  .contact__form {
    max-width: 750px;
    margin-bottom: 65px;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  ._reverse {
    flex-direction: column-reverse;
  }
  ._column {
    flex-direction: column;
  }
  header > .container {
    width: 92%;
  }
  .container {
    width: 90%;
  }
  .header {
    height: 70px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    padding: 0 30px;
  }
  .navigation__list {
    display: none;
    position: fixed;
    z-index: 1;
    background: var(--primary-color);
  }
  #navigation__toggle:checked ~ .navigation__btn > .navigation__icon {
    transform: rotate(45deg);
  }
  #navigation__toggle:checked ~ .navigation__btn > .navigation__icon::before {
    top: 0;
    transform: rotate(0);
  }
  #navigation__toggle:checked ~ .navigation__btn > .navigation__icon::after {
    top: 0;
    transform: rotate(90deg);
  }
  #navigation__toggle:checked ~ .navigation__list {
    display: flex;
    flex-direction: column;
    top: 12%;
    right: 0;
    width: 100%;
  }
  #navigation__toggle:checked ~ .navigation__list > .navigation__item {
    padding: 10px 0 10px 40px;
    font-size: 20px;
  }
  .navigation__toggle {
    opacity: 0;
  }
  .navigation__btn {
    display: flex;
    align-items: center;
    position: static;
    top: 5.5%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--logo-color);
  }
  .navigation__icon::before {
    content: "";
    top: -8px;
  }
  .navigation__icon::after {
    content: "";
    top: 8px;
  }
  .header__buttons {
    display: none;
  }
  .introduction {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .introduction__frame {
    width: 90%;
    margin-bottom: 20px;
  }
  .introduction__info {
    width: 90%;
    padding: 0;
    margin: 0;
  }
  .introduction__description {
    padding: 0;
  }
  .introduction__buttons {
    justify-content: center;
  }
  .main__feature {
    margin-bottom: 50px;
  }
  .feature__title {
    padding: 0;
    margin-bottom: 20px;
  }
  .feature__content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .feature__card {
    align-items: center;
    text-align: center;
    width: 60%;
    margin-bottom: 25px;
  }
  .information {
    margin-bottom: 50px;
  }
  .information__frame {
    width: 90%;
    margin-bottom: 25px;
  }
  .information__text {
    width: 90%;
  }
  .reviews {
    margin-bottom: 50px;
  }
  .reviews__text {
    max-width: 90%;
  }
  .comments {
    flex-direction: column;
    align-items: center;
  }
  .news {
    margin-bottom: 50px;
  }
  .news > .title,
  .news__text {
    text-align: center;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .cards__info {
    width: 47%;
    margin-bottom: 5px;
  }
  .cards__title {
    font-size: 20px;
  }
  .cards__text {
    padding-left: 12px;
  }
  .cards__frame {
    margin-bottom: 6px;
  }
  .cards__description {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .news__dots {
    display: none;
  }
  .prices__packages {
    flex-direction: column;
    align-items: center;
  }
  .package {
    width: 322px;
    margin-bottom: 32px;
  }
  .package:last-child {
    margin-bottom: 0;
  }
  .contact__form {
    padding: 25px;
    max-width: 600px;
  }
  .footer__item {
    margin-bottom: 25px;
  }
  .footer__subitems {
    width: 60%;
  }
  .footer__items {
    flex-wrap: wrap;
    min-width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) and (min-width: 321px) {
  ._reverse {
    flex-direction: column-reverse;
  }
  ._column {
    flex-direction: column;
  }
  header > .container {
    width: 96%;
  }
  .container {
    width: 90%;
    padding: 0;
  }
  .header {
    height: 70px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    padding: 0 2%;
    margin-bottom: 30px;
  }
  .navigation__list {
    display: none;
    position: fixed;
    z-index: 1;
    background: var(--primary-color);
    min-width: 200px;
  }
  .navigation__item {
    max-width: 200px;
  }
  #navigation__toggle:checked ~ .navigation__btn > .navigation__icon {
    transform: rotate(45deg);
  }
  #navigation__toggle:checked ~ .navigation__btn > .navigation__icon::before {
    top: 0;
    transform: rotate(0);
  }
  #navigation__toggle:checked ~ .navigation__btn > .navigation__icon::after {
    top: 0;
    transform: rotate(90deg);
  }
  #navigation__toggle:checked ~ .navigation__list {
    display: flex;
    flex-direction: column;
    top: 12%;
    right: 0;
    width: 100%;
  }
  #navigation__toggle:checked ~ .navigation__list > .navigation__item {
    padding: 10px 0 10px 20px;
    font-size: 20px;
  }
  .navigation__toggle {
    opacity: 0;
  }
  .navigation__btn {
    display: flex;
    align-items: center;
    position: static;
    top: 5.5%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--logo-color);
  }
  .navigation__icon::before {
    content: "";
    top: -8px;
  }
  .navigation__icon::after {
    content: "";
    top: 8px;
  }
  .header__buttons {
    display: none;
  }
  .introduction {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
  }
  .introduction__frame {
    width: 90%;
  }
  .introduction__info {
    width: 90%;
    padding: 0;
    margin: 0;
  }
  .introduction__description,
  .introduction__title {
    max-width: none;
    padding: 0;
  }
  .introduction__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .introduction__description {
    margin-bottom: 12px;
  }
  .introduction__buttons {
    justify-content: center;
  }
  .introduction__btn {
    padding: 13px 20px;
  }
  .main__feature {
    margin-bottom: 100px;
  }
  .main__feature {
    padding: 30px;
  }
  .feature > .title {
    margin-bottom: 20px;
    padding: 0;
  }
  .feature__content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    align-items: center;
    text-align: center;
    width: 55%;
    margin-bottom: 15px;
  }
  .information {
    margin-bottom: 50px;
  }
  .information__frame {
    width: 90%;
    margin-bottom: 25px;
  }
  .information__text {
    width: 90%;
  }
  .option__image {
    margin-right: 15px;
  }
  .reviews {
    margin-bottom: 50px;
  }
  .reviews__text {
    max-width: 90%;
  }
  .comments {
    flex-direction: column;
    align-items: center;
  }
  .news {
    margin-bottom: 50px;
  }
  .news > .title,
  .news__text {
    text-align: center;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .cards__info {
    width: 90%;
    border: none;
    margin-bottom: 5px;
  }
  .cards__text {
    padding: 0;
  }
  .news__dots {
    display: none;
  }
  .prices__packages {
    flex-direction: column;
    align-items: center;
  }
  .package {
    width: 310px;
    margin-bottom: 32px;
  }
  .package:last-child {
    margin-bottom: 0;
  }
  .contact__form {
    padding: 25px;
    max-width: 400px;
  }
  .footer__item {
    align-items: center;
    margin-bottom: 25px;
    min-width: 55%;
  }
  .footer__form {
    align-items: center;
    border: none;
  }
  .footer__btn {
    min-width: 131px;
  }
  .footer__field {
    min-width: 310px;
  }
  .footer__subitems {
    min-width: 60%;
    flex-direction: column;
  }
  .footer__items {
    flex-wrap: wrap;
    min-width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 320px) {
  .container {
    width: 90%;
  }
  header > .container {
    width: 96%;
  }
  ._column {
    flex-direction: column;
  }
  ._reverse {
    flex-direction: column-reverse;
  }
  .header {
    height: 70px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    padding: 0 2%;
    margin-bottom: 30px;
  }
  .navigation__list {
    display: none;
    position: fixed;
    z-index: 1;
    background: var(--primary-color);
    min-width: 200px;
  }
  #navigation__toggle:checked ~ .navigation__btn > .navigation__icon {
    transform: rotate(45deg);
  }
  #navigation__toggle:checked ~ .navigation__btn > .navigation__icon::before {
    top: 0;
    transform: rotate(0);
  }
  #navigation__toggle:checked ~ .navigation__btn > .navigation__icon::after {
    top: 0;
    transform: rotate(90deg);
  }
  #navigation__toggle:checked ~ .navigation__list {
    display: flex;
    flex-direction: column;
    top: 12%;
    right: 0;
    width: 100%;
  }
  #navigation__toggle:checked ~ .navigation__list > .navigation__item {
    padding: 10px 0 10px 20px;
    font-size: 20px;
  }
  .navigation__toggle {
    opacity: 0;
  }
  .navigation__btn {
    display: flex;
    align-items: center;
    position: static;
    top: 5.5%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--logo-color);
  }
  .navigation__icon::before {
    content: "";
    top: -8px;
  }
  .navigation__icon::after {
    content: "";
    top: 8px;
  }
  .header__buttons {
    display: none;
  }
  .introduction {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .introduction__info {
    margin-top: 0;
    width: 95%;
  }
  .introduction__description,
  .introduction__title {
    padding: 0;
    max-width: none;
  }
  .introduction__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .introduction__description {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .introduction__frame {
    width: 90%;
    margin-bottom: 25px;
  }
  .introduction__buttons {
    justify-content: center;
  }
  .introduction__btn {
    padding: 8px 12px;
  }
  .introduction__btn:first-child {
    margin-right: 10px;
  }
  .introduction__btn:last-child {
    margin-right: 0;
  }
  .watch__link {
    font-size: 14px;
  }
  .main__feature {
    margin-bottom: 50px;
  }
  .title {
    font-size: 24px;
  }
  .information__subtitle {
    font-size: 14px;
    font-weight: 600;
  }
  .feature > .title {
    padding: 0 5%;
    margin-bottom: 20px;
  }
  .feature__content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .feature__card {
    width: 90%;
  }
  .feature__btn {
    font-size: 14px;
  }
  .card {
    align-items: center;
    text-align: center;
    max-width: 75%;
    margin-bottom: 25px;
  }
  .information__frame {
    width: 90%;
    margin-bottom: 25px;
  }
  .information {
    margin-bottom: 50px;
  }
  .information__text {
    width: 95%;
    font-size: 14px;
    padding: 0 20px 0 20px;
  }
  .option__image {
    margin-right: 5px;
  }
  .reviews {
    margin-bottom: 50px;
  }
  .reviews__text {
    font-size: 14px;
    max-width: 90%;
  }
  .comments {
    flex-direction: column;
    align-items: center;
  }
  .comment__text {
    font-size: 14px;
    text-align: center;
    padding: 10px 7px;
  }
  .comment__frame {
    max-width: 80px;
    padding: 8px;
  }
  .news {
    margin-bottom: 50px;
  }
  .news__text {
    font-size: 14px;
  }
  .news > .title,
  .news__text {
    text-align: center;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .cards__info {
    border: none;
    width: 85%;
    margin-bottom: 5px;
  }
  .cards__text {
    padding: 0;
  }
  .cards__frame {
    margin-bottom: 4px;
  }
  .cards__description {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .cards__title {
    font-size: 20px;
  }
  .news__dots {
    display: none;
  }
  .prices__description {
    font-size: 14px;
  }
  .prices__packages {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
  .package {
    width: 290px;
    margin-bottom: 32px;
  }
  .package:last-child {
    margin-bottom: 0;
  }
  .contact__form {
    padding: 25px;
    max-width: 300px;
  }
  .footer__item {
    align-items: center;
    margin-bottom: 25px;
    min-width: 55%;
  }
  .footer__title {
    font-size: 16px;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer__form {
    align-items: center;
    padding: 0 20px;
    border: none;
  }
  .footer__btn {
    min-width: 131px;
  }
  .footer__field {
    min-width: 270px;
  }
  .footer__subitems {
    min-width: 60%;
    flex-direction: column;
  }
  .footer__items {
    flex-wrap: wrap;
    min-width: 90%;
    justify-content: space-around;
    align-items: center;
  }
}
